<template>
  <div id="app">
    <Navbar />
    <main>
      <router-view />
      <ModalAuth />
      <ModalSuccess />
      <ModalFailed />
    </main>
    <div class="footer">
      <Footer v-if="!isOnAdminPage" />
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'
import Footer from '@/components/Footer.vue'
import ModalAuth from '@/components/Modal/Auth.vue'
import ModalSuccess from '@/components/Modal/Success.vue'
import ModalFailed from '@/components/Modal/Failed.vue'

export default {
  name: 'App',
  components: {
    Navbar,
    Footer,
    ModalAuth,
    ModalSuccess,
    ModalFailed
  },
  computed: {
    isOnAdminPage () {
      return this.$route.path.startsWith('/admin')
    }
  }
}
</script>

<style>
#app{
  background-color: #fcf9f7;
}
</style>
