<template>
  <div class="bg thutle" style="margin-top: 30px;">
    <div class="row" style="margin-left: 25px; padding-top:20px; padding-bottom: 25px">
      <div class="col-md-4" style="border-right: 1px solid #cecece">
        <router-link class="navbar-brand" to="/">HappyFlower</router-link>
        <p> Sản phẩm được nhập trực tiếp tại các khu trồng hoa nổi tiếng ở Việt Nam.</p>
        <p> Cam kết 1 đổi 1 đối với sản phẩm bị hư hỏng trong quá trình vận chuyển.</p>
        <p> Giao hàng miễn phí trong ngày trong khu vực TPHCM.</p>
        <p style="font-size: 30px">
          <i class="fab fa-facebook" style="color: #4267B2; padding-right:10px"></i>
          <i class="fab fa-instagram" style="color: #CF015B; padding-right:10px"></i>
          <i class="fab fa-youtube" style="color: red; padding-right:10px"></i>
        </p>
      </div>
      <div class="col-md-8">
        <div class="row" style="margin-left: 15px">
          <div class="col-md-5">
            <p class="title">LIÊN KẾT TRANG WEB</p>
            <p>Về chúng tôi</p>
            <p>Hướng dẫn chăm sóc hoa</p>
            <p>Blog</p>
          </div>
          <div class="col-md-7">
            <p class="title">LIÊN HỆ</p>
            <p><i class="fas fa-map-marker-alt"></i> Địa chỉ: 14 Trần Hưng Đạo, Quận 1, TPHCM</p>
            <p><i class="fas fa-envelope"></i> Email: happyflower@gmail.com</p>
            <p><i class="fas fa-phone-alt"></i> Hotline: 1900 63 35 37</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'comp-footer'
}
</script>
<style scoped >
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
  .bg{
    background-color: #FBE2EB;
  }
  .thutle{
    padding-left: 130px;
    padding-right: 130px;
  }
  .navbar-brand{
    font-family: 'Playball', cursive;
    color: #532D31 !important;
    font-size: 30px !important;
    font-variant: small-caps;  /* phông chữ*/
    font-weight: bold;
    padding-right: 20px;
  }
  .title{
    padding-top: 25px;
    font-weight: 650;
  }
</style>
