<template>
  <header>
    <mdb-navbar position="top" scrolling>
      <mdb-container>
        <mdb-navbar-brand router to="/" style="padding-left:150px;" v-if="isOnAdminPage">
          <img src="./assets/Logo.png" height="30" alt="">
          <a class="logo">HappyFlower.vn</a>
        </mdb-navbar-brand>
        <mdb-navbar-brand router to="/" v-else>
          <img src="./assets/Logo.png" height="30" alt="">
          <a class="logo">HappyFlower.vn</a>
        </mdb-navbar-brand>
        <mdb-navbar-toggler>
          <mdb-navbar-nav right>
            <form v-on:submit.prevent=onSearchSubmit>
            <mdb-input v-model="search_query" type="text" class="text-white" placeholder="Tìm kiếm sản phẩm" aria-label="Tìm kiếm sản phẩm" label navInput waves waves-fixed/>
          </form>
            <mdb-nav-item router to="/admin" v-if="loggedIn && isAdmin">Quản lý</mdb-nav-item>
            <mdb-nav-item @click.native="toggleLoginModal" v-if="!loggedIn">Đăng nhập/ Đăng ký</mdb-nav-item>
            <mdb-dropdown tag="li" class="nav-item" v-else>
              <mdb-dropdown-toggle tag="a" nav-link slot="toggle" waves-fixed>
                {{ currentUser.info.name }}
              </mdb-dropdown-toggle>
              <mdb-dropdown-menu>
                <mdb-dropdown-item router to="/account">
                  Thông tin tài khoản
                </mdb-dropdown-item>
                <mdb-dropdown-item router to="/orders">
                  Đơn hàng
                </mdb-dropdown-item>
                <mdb-dropdown-item @click.native="logOut">
                  Đăng xuất
                </mdb-dropdown-item>
              </mdb-dropdown-menu>
            </mdb-dropdown>
            <mdb-nav-item router to="/cart" v-if="loggedIn"><a style="color: black;">Giỏ hàng</a></mdb-nav-item>
          </mdb-navbar-nav>
        </mdb-navbar-toggler>
      </mdb-container>
    </mdb-navbar>
  </header>
</template>

<script>
export default {
  name: 'comp-navbar',
  data () {
    return {
      search_query: ''
    }
  },
  computed: {
    loggedIn () {
      return this.$store.state.user.loggedIn
    },
    currentUser () {
      return this.$store.state.user
    },
    isAdmin () {
      try {
        return this.$store.state.user.info.permissions === 1
      } catch (error) {
        return false
      }
    },
    isOnAdminPage () {
      return this.$route.path.startsWith('/admin')
    }
  },
  methods: {
    toggleLoginModal () {
      this.$store.dispatch('modals/toggleLoginModal')
    },
    logOut () {
      this.$store.dispatch('user/logout')
      this.$router.push('/')
    },
    onSearchSubmit () {
      this.$router.push(`/search/${this.search_query}`)
    }
  },
  mounted () {
    if (this.loggedIn) {
      this.$store.dispatch('user/getInfo')
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
  header {
    padding-bottom: 55px;
  }
  .navbar {
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    background-color: #fbe2eb;
  }
  .top-nav-collapse {
    background-color: #fbe2eb !important;
  }
  @media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #fbe2eb !important;
  }
}

.logo{
  color: black !important;
  padding-left: 10px;
  font-size: 25px !important;
  font-family: 'Playball', cursive;
}
</style>
