<template>
  <div class="thutle">
    <div class="row">
      <div class="col-8">
        <div style="background-color:white;">
          <div class="colorcart">
            <p class="p_product"><i class="fas fa-shopping-cart"></i> GIỎ HÀNG (Số lượng: {{ cart.items.length }})</p>
          </div>
          <div class="thutle_cart" v-for="item in cart.items" :key="item.product_id">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-3">
                    <a href="#" class="hoa"><img :src="require('../assets/'+item.image_file)" width="100%" height="120px"></a>
                  </div>
                  <div class="col-5">
                    <p class="tenhoa"><a href="#" class="hoa">{{ item.product_name }}</a></p>
                    <p><b>{{ item.product_price | price }}</b></p>
                    <a style="text-decoration:none" v-on:click="deleteOneProduct(item.product_id)">Xóa</a>
                  </div>
                  <div class="col-4">
                    <div class="soluong">
                      <form action="#" method="#">
                        <span class="number">
                          <button type="button" class="minus-btn" v-on:click="decrease(item)">-</button>
                          <input type="text" name="quantity" :value="item.cart_quantity">
                          <button type="button" class="plus-btn" v-on:click="increase(item)">+</button>
                        </span>
                      </form>
                    </div>
                    <p class="sotien">Số tiền: {{ item.product_price*item.cart_quantity | price }}</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div style="background-color: white">
          <div class="colorcart">
            <p class="p_product"><i class="fas fa-money-check"></i> THANH TOÁN</p>
          </div>
          <div>
            <ul class="list-group list-group-flush">
              <form action="#" method="#">
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-4">Thành tiền</div>
                    <div class="col-8">
                      <input name="tongtien" class="thanhtien" :value="cart.grand_total | price" readonly>
                      <input type="hidden" name="soluong" class="thanhtien" value="#">
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="thanhtoan">
                    <button type="button" class="button1" v-on:click="order">Thanh toán</button>
                  </div>
                </li>
              </form>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="shipping_info">
      <div class="colorcart">
          <p class="p_shipping"><i class="fas fa-truck"></i> Thông tin giao hàng</p>
      </div>
      <form style="padding-left: 20px; padding-right: 20px;">
        <div class="grey-text">
          <mdb-input label="Tên của bạn" icon="user" type="text" v-model="shippingDetail.name" style="color:#EC407A" />
          <mdb-input label="Số điện thoại" icon="phone" type="tel" v-model="shippingDetail.phoneNumber" style="color:#1976D2"/>
          <mdb-input label="Địa chỉ" icon="home" type="text" v-model="shippingDetail.address" style="color:#F44336" />
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import CartService from '@/services/cart.js'
import ShippingDetail from '../../models/shipping-detail'

export default {
  data () {
    return {
      cart: null,
      shippingDetail: new ShippingDetail(this.$store.state.user.info.name, this.$store.state.user.info.phone_number, this.$store.state.user.info.address)
    }
  },

  filters: {
    price (value) {
      var formatter = new Intl.NumberFormat('vi-VN', {
        style: 'currency',
        currency: 'VND',
        minimumFractionDigits: 0
      })
      return formatter.format(value)
    }
  },

  methods: {
    async getCart () {
      this.cart = await CartService.getCart()
    },
    async increase (cartItem) {
      if (cartItem.cart_quantity < cartItem.product_quantity) {
        cartItem.cart_quantity++
        this.cart.grand_total += cartItem.product_price
        await CartService.updateCartProductQuantity(cartItem.product_id, cartItem.cart_quantity)
      }
    },
    async decrease (cartItem) {
      if (cartItem.cart_quantity > 0) {
        cartItem.cart_quantity--
        this.cart.grand_total -= cartItem.product_price
        await CartService.updateCartProductQuantity(cartItem.product_id, cartItem.cart_quantity)
      }
    },
    async deleteOneProduct (productId) {
      await CartService.deleteProductFromOrder(productId)
      this.cart = await CartService.getCart()
    },
    async order () {
      const response = await CartService.order(this.shippingDetail.name, this.shippingDetail.phoneNumber, this.shippingDetail.address)
      if (response.success) {
        // this.$store.dispatch('modals/showSuccessModal')
        this.$router.push('/orders')
      } else {
        this.$store.dispatch('modals/showFailedModal')
      }
    }
  },

  mounted () { this.getCart() }
}
</script>

<style scoped>
.thutle{
  padding-left: 170px;
  padding-top: 50px;
  padding-right: 170px;
}

.colorcart{
  background-color: #87E0E0;
}

.p_product{
  font-weight: 650;
  font-size: 17px;
  padding: 10px 10px 10px 20px;
}

.thutle_cart{
  padding: 0px 30px 20px 30px;
}

.hoa{
  text-decoration: none !important;
  color: #000000;
}

.soluong{
  padding-top: 30px;
}

/* click-number */
.number {
  padding-top: 30px;
}
.number input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
button:focus,
input:focus {
  outline:0;
}

.sotien{
  color: red;
  padding-top: 20px;
}

.thanhtien{
  border: none;
  text-align: right;
  color: red;
  font-weight: bold;
}

.thanhtoan {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thanhtoan button{
  font-size: 17px;
  margin-bottom: 10px;
  color: #fff!important;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  margin: 10px auto;
  display: inline-block;
  background-color: orange;
}
/* Thông tin giao hàng */
.p_shipping{
  font-weight: 650;
  font-size: 18px;
  padding: 10px 10px 10px 20px;
}
#shipping_info{
  background-color: #ffffff;
  padding-bottom: 20px;
  margin-top: 30px;
}
</style>
