<template>
  <div class="thutle">
    <div style="background-color: white;">
      <div style="padding: 10px 10px 0px 15px;">
        <div class="row">
          <div class="col-md-6">
            <span style="padding-right: 10px">Danh mục:</span>
            <select class="browser-default custom-select custom" @change="onCategoryChange($event)">
            <option v-for="category in categories" :key="category.id" :value="category.id">{{ category.name }}</option>
          </select>
          </div>
          <div class="col-md-6">
            <span style="padding-right: 10px">Sắp xếp:</span>
            <select class="browser-default custom-select custom" @change="onSortTypeChange($event)">
            <option value="newest">Mới nhất</option>
            <option value="oldest">Cũ nhất</option>
            <option value="most-ordered">Bán chạy</option>
            <option value="alphabetical">Từ A->Z</option>
            <option value="random">Ngẫu nhiên</option>
          </select>
          </div>
        </div>
        <hr/>
      </div>
      <div style="padding: 0px 30px 20px 30px;">
        <div class="row">
          <div class="col-md-3" v-for="product in products" :key="product.id">
            <div class="card">
              <a href="#" class="sach">
                <center><img :src="require('../assets/'+product.image_file)" width="80%" height="200"></center>
                <div class="card-body">
                  <router-link :to="'/product/'+product.id" class="h_name double-line">{{ product.name }}</router-link>
                  <p class="h_price">{{ product.price | price }}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductsService from '@/services/products.js'

export default {
  data () {
    return {
      categories: null,
      products: null,
      sortType: 'newest'
    }
  },
  computed: {
    currentCategoryId () {
      return this.$route.params.category_id
    }
  },
  filters: {
    price (value) {
      var formatter = new Intl.NumberFormat('vi-VN', {
        style: 'currency',
        currency: 'VND',
        minimumFractionDigits: 0
      })
      return formatter.format(value)
    }
  },
  methods: {
    async getCategories () {
      this.categories = await ProductsService.getCategories()
    },
    async getProducts () {
      this.products = await ProductsService.getProductListByCategory(this.currentCategoryId, this.sortType, 50, 0)
    },
    onCategoryChange (event) {
      if (event.target.value !== this.$route.params.category_id) {
        this.$router.push('/categories/' + event.target.value)
        this.getProducts(this.sortType)
      }
    },
    onSortTypeChange (event) {
      this.sortType = event.target.value
      this.getProducts(this.sortType)
    }
  },
  mounted () {
    this.getCategories()
    this.getProducts()
  }
}
</script>

<style scoped>
.thutle{
  padding-left: 200px;
  padding-top: 50px;
  padding-right: 200px;
}
.nhomsp1{
  padding: 10px 0px 10px 10px;
}

.nhomsp_ol{
  list-style: none;
  padding-left: 20px;
  line-height: 1.75 !important;
}

.nhomsp{
  text-decoration: none !important;
  color: #000000;
}

.custom{
  width: 200px;
}

.h_name{
  text-transform: capitalize;
  min-height: 2.8rem;
  max-height: 3rem;
}

.h_price{
  color: #F7945F;
  font-weight: 600;
  font-size: 1.2rem;
}

.card{
  margin-bottom: 15px;
}
</style>
