<template>
  <div class="product-detail">
    <div class="thutle">
      <div style="background-color:white;">
        <div class="row">
          <div class="col-md-4" style="border-right: 1px solid #cecece">
            <div class="hinhanh">
              <img :src="require('../assets/'+product.image_file)" width="350px" height="350px">
            </div>
          </div>
          <div class="col-md-8">
            <div style="padding-top:30px">
              <h4 style="padding-left:50px">{{ product.name }}</h4>
              <p class="title"><i class="fas fa-sync"></i> 1 đổi 1 đối với sản phẩm bị hư hỏng trong quá trình vận chuyển</p>
              <p class="title"><i class="fas fa-truck"></i> Miễn phí giao hàng (Tối đa 40k) cho đơn hàng từ 100k</p>
              <p class="price">{{ product.price | price }}</p>
              <p style="padding-left:20px;">SP còn lại: {{ product.quantity }}</p>
              <form action="#" method="#" style="padding-left:20px">
                <p>Số lượng:&nbsp;
                  <span class="number">
                    <button class="minus-btn" type="button" v-on:click="decrease">-</button>
                    <input type="text" name="buy-quantity" v-model="buyQuantity">
                    <button class="plus-btn" type="button" v-on:click="increase">+</button>
                  </span>
                </p>
                <button type="button" class="buynow" v-on:click="addToCart"><i class="fas fa-shopping-cart"></i> &nbsp;Thêm vào giỏ hàng</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-info">
      <div class="thutle">
        <div style="background-color:white">
          <div class="newproduct">
            <p class="p_product"><i class="fas fa-book-reader"></i> Mô tả</p>
          </div>
          <p v-if="product.description!==null || product.description!==''" class="p_info">{{ product.description }}</p>
          <p v-else class="p_info">Sản phẩm chưa có mô tả</p>
        </div>
      </div>
    </div>
    <div class="product-review">
      <div class="thutle">
        <div style="background-color:white">
          <div class="newproduct">
            <p class="p_product"><i class="far fa-comments"></i> Nhận xét khách hàng</p>
          </div>

          <div class="thutlesach">
            <div id="comment" v-for="feedback in product.feedbacks" :key="feedback.id">
              <div class="dc_anhbia">
                <div class="pa_anhbia">
                  <img style="margin-right: 5px" id="login-image" src="../assets/avatar_icon.png" height="55px" alt="icon">
                </div>
                <div class="tk">
                  <div class="tentk">
                    <p><b>{{ feedback.user_name }}</b></p>
                  </div>
                  <div class="ngaydang">
                    <p>Nhận xét vào {{ feedback.created_at }}</p>
                  </div>
                </div>
              </div>

              <div class="comment">
                <p>{{ feedback.comment }}</p>
              </div>
            </div>

            <hr>
            <div class="recomment">
              <p v-if="product.feedbacks.length === 0">Hãy là người đầu tiên nhận xét sản phẩm này.</p>
              <form action="#" method="#">
                <textarea v-model="userFeedback" cols="134" rows="3" placeholder="Viết câu trả lời" type="text" maxlength="1000" class="recomment1" name="noidung"></textarea>
                <div class="su">
                  <input type="button" value="Gửi" class="su1"  v-on:click="addFeedback">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductsService from '@/services/products.js'
import CartService from '@/services/cart.js'

export default {
  data () {
    return {
      product: null,
      buyQuantity: 1,
      userFeedback: ''
    }
  },
  filters: {
    price (value) {
      var formatter = new Intl.NumberFormat('vi-VN', {
        style: 'currency',
        currency: 'VND',
        minimumFractionDigits: 0
      })
      return formatter.format(value)
    }
  },
  methods: {
    async getProductDetail () {
      this.product = await ProductsService.getProductDetail(this.$route.params.product_id)
    },
    increase () {
      if (this.buyQuantity < this.product.quantity) {
        this.buyQuantity++
      }
    },
    decrease () {
      if (this.buyQuantity > 1) {
        this.buyQuantity--
      }
    },
    async addToCart () {
      const response = await CartService.addProduct(this.$route.params.product_id, this.buyQuantity)
      if (response.success) {
        this.$store.dispatch('modals/showSuccessModal')
      } else {
        this.$store.dispatch('modals/showFailedModal')
      }
    },
    async addFeedback () {
      const response = await ProductsService.addFeedback(this.$route.params.product_id, this.userFeedback)
      if (response.success) {
        this.getProductDetail()
      } else {
        this.$store.dispatch('modals/showFailedModal')
      }
    }
  },
  mounted () { this.getProductDetail() }
}
</script>

<style scoped>
.thutle{
  padding-left: 170px;
  padding-top: 50px;
  padding-right: 170px;
}
.hinhanh{
  padding: 10px 10px 10px 10px;
}
.title{
  color: #9604bb;
  padding-left: 15px;
}
.price{
  font-weight: bold;
  font-size: 25px;
  color: red;
  padding-left: 15px;
}
/* click-number */
.number {
  padding-top: 30px;
}
.number input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
button:focus,
input:focus {
  outline:0;
}
/* Mua ngay */
.buynow{
  background: #FF3945;
  color: white;
  width: 250px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #CCC;
}
.buynow:hover{
  border: 1px 1px 1px;
  background: #FF6363;
}
.newproduct{
  background-color: #d6b2f8;
}
.p_product{
  font-weight: 650;
  font-size: 17px;
  padding: 10px 10px 10px 20px;
}
.p_info{
  padding-left: 20px;
  padding-bottom: 20px;
}
.thutlesach{
  padding: 0px 30px 20px 30px;
}
.dc_anhbia{
  display: flex;
}
.pa_anhbia{
  padding-right: 8px;
}
.tentk{
  font-family: arial;
}
.ngaydang{
  font-size: 14px;
  color: #000000a1;
  line-height: 0.05;
}
/* recomment */
.recomment1{
  border: 1px solid rgb(238, 238, 238);
  padding: 12px;
}
.su{
  padding-top: 10px;
}
.su1{
  background-color: #4285F4;
  border-radius: 4px;
  color: white;
  width: 80px;
  height: 40px;
}
.su1:hover{
  box-shadow: 2px 2px;
  background-color: #4285f4db;
}
</style>
