<template>
  <div class="home">
    <div style="padding-top:30px">
      <ProductMenu />
    </div>
    <mdb-container>
      <div class="products">
        <div class="product-type">
          <p class="p_product"><i class="fas fa-plus-circle"></i> SẢN PHẨM MỚI</p>
        </div>
        <section class="text-center mb-4 products-section">
          <div class="row wow fadeIn">
            <div v-for="product in newProducts" :key="product.id" class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <div class="view zoom">
                  <img :src="require('../assets/'+product.image_file)" class="card-img-top" alt="">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <div class="card-body text-center">
                  <h5>
                    <strong>
                      <router-link :to="'/product/'+product.id" class="dark-grey-text">{{ product.name }}</router-link>
                    </strong>
                  </h5>
                  <h4 class="font-weight-bold">
                    <strong>{{ product.price | price }}</strong>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="products">
        <div class="product-type">
          <p class="p_product"><i class="fas fa-plus-circle"></i> BÁN CHẠY</p>
        </div>
        <section class="text-center mb-4 products-section">
          <div class="row wow fadeIn">
            <div v-for="product in mostOrderedProducts" :key="product.id" class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <div class="view zoom">
                  <img :src="require('../assets/'+product.image_file)" class="card-img-top" alt="">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <div class="card-body text-center">
                  <h5>
                    <strong>
                      <router-link :to="'/product/'+product.id" class="dark-grey-text">{{ product.name }}</router-link>
                    </strong>
                  </h5>
                  <h4 class="font-weight-bold">
                    <strong>{{ product.price | price }}</strong>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="products">
        <div class="product-type">
          <p class="p_product"><i class="fas fa-plus-circle"></i> ĐỀ XUẤT</p>
        </div>
        <section class="text-center mb-4 products-section">
          <div class="row wow fadeIn">
            <div v-for="product in randomProducts" :key="product.id" class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <div class="view zoom">
                  <img :src="require('../assets/'+product.image_file)" class="card-img-top" alt="">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <div class="card-body text-center">
                  <h5>
                    <strong>
                      <router-link :to="'/product/'+product.id" class="dark-grey-text">{{ product.name }}</router-link>
                    </strong>
                  </h5>
                  <h4 class="font-weight-bold">
                    <strong>{{ product.price | price }}</strong>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </mdb-container>
  </div>
</template>

<script>
import ProductMenu from '@/components/Product/Menu.vue'
// import Product from '@/models/product.js'
import ProductsService from '@/services/products.js'

export default {
  name: 'comp-homeproduct',

  components: {
    ProductMenu
  },

  data () {
    return {
      newProducts: null,
      mostOrderedProducts: null,
      randomProducts: null
    }
  },

  methods: {
    async getProducts () {
      this.newProducts = await ProductsService.getProductList('newest', 4, 0)
      this.mostOrderedProducts = await ProductsService.getProductList('most-ordered', 4, 0)
      this.randomProducts = await ProductsService.getProductList('random', 4, 0)
    }
  },

  filters: {
    price (value) {
      var formatter = new Intl.NumberFormat('vi-VN', {
        style: 'currency',
        currency: 'VND',
        minimumFractionDigits: 0
      })
      return formatter.format(value)
    }
  },

  mounted () { this.getProducts() }
}
</script>

<style scoped>
  .products {
    border: 1px ridge #e8d9d9;
    margin-bottom: 2rem;
  }
  .product-type {
    background-color: #ade3e7;
  }
  .p_product {
    font-weight: 650;
    font-size: 17px;
    padding: 10px 10px 10px 20px;
  }
  .products-section {
    padding: 0px 30px 20px 30px;
  }
</style>
