<template>
  <mdb-container>
    <div class="groupcolor">
      <mdb-row>
        <mdb-col md="3">
          <mdb-tab color="pink" pills vertical>
            <mdb-tab-item :active="verticalWithin==0" @click.native.prevent="verticalWithin=0">
              <span>Nhóm sản phẩm</span>
            </mdb-tab-item>
            <mdb-tab-item :active="verticalWithin==1" @click.native.prevent="verticalWithin=1">
              <img src="../assets/cake.png" class="image"/> Sinh nhật
            </mdb-tab-item>
            <mdb-tab-item :active="verticalWithin==2" @click.native.prevent="verticalWithin=2">
              <img src="../assets/wine-glass.png" class="image"/> Lãng mạn
            </mdb-tab-item>
            <mdb-tab-item :active="verticalWithin==3" @click.native.prevent="verticalWithin=3">
              <img src="../assets/bouquet.png" class="image"/> Hoa cưới
            </mdb-tab-item>
            <mdb-tab-item :active="verticalWithin==4" @click.native.prevent="verticalWithin=4">
              <img src="../assets/teddy-bear.png" class="image"/> Sản phẩm khác
            </mdb-tab-item>
          </mdb-tab>
        </mdb-col>
        <mdb-col md="9">
          <mdb-tab-content vertical>
            <mdb-tab-pane class="fade" key="pills0" v-if="verticalWithin==0">
              <mdb-carousel
                :interval="5000"
                :items="items"
                controlls
                indicators
              ></mdb-carousel>
            </mdb-tab-pane>
            <mdb-tab-pane class="fade" key="pills1" v-if="verticalWithin==1">
              <router-link to="/categories/1">
                <h5 class="my-2 h5" style="color:black">Sinh nhật</h5>
                <img src="../assets/image_flower/ngaysinhnhat/coralpink.jpeg" height="30%" width="30%"/>
                <img src="../assets/image_flower/ngaysinhnhat/loveatfirstsight.jpeg" height="30%" width="30%"/>
                <img src="../assets/image_flower/ngaysinhnhat/firstdate.jpeg" height="30%" width="30%"/>
              </router-link>
            </mdb-tab-pane>
            <mdb-tab-pane class="fade" key="pills2" v-if="verticalWithin==2">
              <router-link to="/categories/2">
                <h5 class="my-2 h5" style="color:black">Lãng mạn</h5>
                <img src="../assets/image_flower/chude/blissful.jpeg" height="30%" width="30%"/>
                <img src="../assets/image_flower/chude/bloomsoflove.jpeg" height="30%" width="30%"/>
                <img src="../assets/image_flower/chude/sweetblossom.jpeg" height="30%" width="30%"/>
              </router-link>
            </mdb-tab-pane>
            <mdb-tab-pane class="fade" key="pills3" v-if="verticalWithin==3">
              <router-link to="/categories/3">
                <h5 class="my-2 h5" style="color:black">Hoa cưới</h5>
                <img src="../assets/image_flower/loaihoa/aphrodite.jpeg" height="30%" width="30%"/>
                <img src="../assets/image_flower/loaihoa/summertime.jpeg" height="30%" width="30%"/>
                <img src="../assets/image_flower/loaihoa/cupidkisses.jpeg" height="30%" width="30%"/>
              </router-link>
            </mdb-tab-pane>
            <mdb-tab-pane class="fade" key="pills4" v-if="verticalWithin==4">
              <router-link to="/categories/4">
                <h5 class="my-2 h5" style="color:black">Sản phẩm khác</h5>
                <img src="../assets/image_flower/sanphamkhac/quatangthiennhien.jpeg" height="30%" width="30%"/>
                <img src="../assets/image_flower/sanphamkhac/socolaferrero.jpeg" height="30%" width="30%"/>
                <img src="../assets/image_flower/sanphamkhac/trahoahongrose.jpeg" height="30%" width="30%"/>
              </router-link>
            </mdb-tab-pane>
          </mdb-tab-content>
        </mdb-col>
      </mdb-row>
    </div>
  </mdb-container>
</template>

<script>
export default {
  name: 'comp-groupproduct1',
  data () {
    return {
      verticalWithin: 0,
      items: [
        {
          img: true,
          src: require('../assets/menu1.jpeg')
        },
        {
          img: true,
          src: require('../assets/menu2.jpeg')
        },
        {
          img: true,
          src: require('../assets/menu3.jpeg')
        },
        {
          img: true,
          src: require('../assets/menu2.jpeg')
        }
      ]
    }
  }
}
</script>

<style scoped>
  .groupcolor {
    background-color: #FFF4F4;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  .nsp {
    padding-left: 40px;
    font-size: 18px;
    font-family: sans-serif;
  }
  .image {
    width: 20px;
    height: 20px;
  }

  .slide-toggle-enter-active {
    transition: .3s ease-in;
    opacity: 1;
    max-height: 500px;
  }
  .slide-toggle-enter,
  .slide-toggle-leave-active {
    opacity: 0;
    max-height: 0;
  }
  .slide-toggle-leave {
    opacity: 1;
    max-height: 500px;
  }

  h5 {
    font-weight: bold;
  }
</style>
