<template>
  <div class="thutle">
    <p>Đơn hàng của tôi</p>
    <div style="background-color:white">
      <table class="table">
        <thead>
          <tr>
            <th class="name_column">Mã đơn hàng</th>
            <th class="name_column">Ngày mua</th>
            <th class="name_column">Sản phẩm</th>
            <th class="name_column">Tổng tiền</th>
            <th class="name_column">Trạng thái đơn hàng</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="order in orders" :key="order.id">
            <td>{{ order.id }}</td>
            <td>{{ order.created_at }}</td>
            <td>
              <p v-for="product in order.products" :key="product.product_id">
                <router-link :to="'/product/'+product.product_id">{{ product.product_name }}</router-link>
              </p>
            </td>
            <td>{{ order.grand_total }}</td>
            <td>Giao hàng thành công</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import CartService from '@/services/cart.js'

export default {
  data () {
    return {
      orders: null
    }
  },
  filters: {
    price (value) {
      var formatter = new Intl.NumberFormat('vi-VN', {
        style: 'currency',
        currency: 'VND',
        minimumFractionDigits: 0
      })
      return formatter.format(value)
    }
  },
  methods: {
    async getOrders () {
      this.orders = await CartService.getOrders(50, 0)
    }
  },
  mounted () { this.getOrders() }
}
</script>

<style scoped>
.thutle{
  padding-left: 170px;
  padding-top: 50px;
  padding-right: 170px;
}
.name_column{
  text-align: left;
  font-weight: bold;
}
</style>
