<template>
  <div id="search-result" style="padding-top:30px">
    <mdb-container>
      <div class="products">
        <div class="product-type">
          <p class="p_product"><i class="fas fa-plus-circle"></i> Kết quả tìm kiếm</p>
        </div>
        <section class="text-center mb-4 products-section">
          <div class="row wow fadeIn">
            <div v-for="product in products" :key="product.id" class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <div class="view zoom">
                  <img :src="require('../assets/'+product.image_file)" class="card-img-top" alt="">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <div class="card-body text-center">
                  <h5>
                    <strong>
                      <router-link :to="'/product/'+product.id" class="dark-grey-text">{{ product.name }}</router-link>
                    </strong>
                  </h5>
                  <h4 class="font-weight-bold">
                    <strong>{{ product.price | price }}</strong>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </mdb-container>
  </div>
</template>

<script>
import ProductsService from '@/services/products.js'

export default {
  data () {
    return {
      products: null
    }
  },
  computed: {
    query () {
      return this.$route.params.query
    }
  },
  filters: {
    price (value) {
      var formatter = new Intl.NumberFormat('vi-VN', {
        style: 'currency',
        currency: 'VND',
        minimumFractionDigits: 0
      })
      return formatter.format(value)
    }
  },
  methods: {
    async getSearchResult () {
      this.products = await ProductsService.searchProduct(this.query, 50, 0)
    }
  },
  mounted () {
    this.getSearchResult()
  }
}
</script>

<style>

</style>
