<template>
  <mdb-container style="padding-top: 50px;">
    <!-- Section: Edit Account -->
    <section class="section">
      <!-- First row -->
      <div class="row">
        <!-- First column -->
        <div class="col-lg-4 mb-4">
          <!--Card-->
          <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view view-cascade gradient-card-header mdb-color red accent-1">
              <h5 class="mb-0 font-weight-bold">{{ currentUserInfo.name }}</h5>
            </div>
            <!--/Card image-->

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
                alt="User Photo"
                class="z-depth-1 mb-3 mx-auto"
              />

              <p class="text-muted">
                <small></small>
              </p>
              <div class="row flex-center">
                <mdb-btn color="info" rounded size="sm"
                  >Cập nhật</mdb-btn
                ><br />
                <mdb-btn color="danger" rounded size="sm">Xóa</mdb-btn>
              </div>
            </div>
            <!-- /.Card content -->
          </div>
          <!--/.Card-->
        </div>
        <!-- /.First column -->
        <!-- Second column -->
        <div class="col-lg-8 mb-4">
          <!--Card-->
          <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view view-cascade gradient-card-header mdb-color indigo accent-1">
              <h5 class="mb-0 font-weight-bold">Thông tin tài khoản</h5>
            </div>
            <!--/Card image-->

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Edit Form -->
              <form>
                <!--First row-->
                <div class="row">
                  <!--First column-->
                  <div class="col-md-6">
                    <mdb-input label="ID" type="number" v-model="currentUserInfo.id" disabled />
                  </div>
                  <!--Second column-->
                  <div class="col-md-6">
                  </div>
                </div>
                <!--/.First row-->
                <!--First row-->
                <div class="row">
                  <!--First column-->
                  <div class="col-md-6">
                    <mdb-input label="Họ và tên" v-model="currentUserInfo.name" />
                  </div>
                  <!--Second column-->
                  <div class="col-md-6">
                    <mdb-input label="Email" type="email" v-model="currentUserInfo.email" disabled />
                  </div>
                </div>
                <!--/.First row-->
                <!--Second row-->
                <div class="row">
                  <!--First column-->
                  <div class="col-md-6">
                    <mdb-input label="Số điện thoại" type="tel" v-model="currentUserInfo.phone_number" />
                  </div>
                  <!--Second column-->
                  <div class="col-md-6">
                    <mdb-input label="Địa chỉ" v-model="currentUserInfo.address" />
                  </div>
                </div>
                <!--/.Second row-->
                <!--Third row-->
                <div class="row">
                  <!--First column-->
                  <div class="col-md-6">
                    <mdb-input label="Mật khẩu hiện tại" type="password" v-model="password.currentPassword" />
                  </div>
                  <!--Second column-->
                  <div class="col-md-6">
                    <mdb-input label="Mật khẩu mới" type="password" v-model="password.newPassword" />
                  </div>
                </div>
                <!--/.Third row-->
                <!-- Fourth row -->
                <div class="row">
                  <div class="col-md-12 text-center my-4">
                    <input
                      type="button"
                      value="Cập nhật"
                      class="btn btn-info btn-rounded"
                      v-on:click="update"
                    />
                  </div>
                </div>
                <!-- /.Fourth row -->
                <div class="form-group" v-if="message != ''">
                  <div class="alert alert-danger" role="alert">
                    {{ message }}
                  </div>
                </div>
              </form>
              <!-- Edit Form -->
            </div>
            <!-- /.Card content -->
          </div>
          <!--/.Card-->
        </div>
        <!-- /.Second column -->
      </div>
      <!-- /.First row -->
    </section>
    <!-- /.Section: Edit Account -->
  </mdb-container>
</template>

<script>
import UserService from '@/services/user.js'

export default {
  data () {
    return {
      password: {
        currentPassword: '',
        newPassword: ''
      },
      message: ''
    }
  },
  computed: {
    currentUserInfo () {
      return this.$store.state.user.info
    }
  },
  methods: {
    getInfo () {
      this.$store.dispatch('user/getInfo')
    },
    async update () {
      if (this.password.currentPassword !== this.password.newPassword || (this.password.currentPassword === '' && this.password.newPassword === '')) {
        const response = await UserService.updateInfo(this.currentUserInfo, this.password)
        if (response.success) {
          this.$store.dispatch('modals/showSuccessModal')
        } else {
          this.$store.dispatch('modals/showFailedModal')
          this.message = response.msg
        }
      } else {
        this.message = 'Mật khẩu cũ và mới trùng nhau'
      }
    }
  },
  mounted () { this.getInfo() }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.card.card-cascade .view.gradient-card-header {
  padding: 1.1rem 1rem;
}

.card.card-cascade .view {
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}
</style>
