<template>
  <div>
    <SideNav />
    <div class="thutle">
      <div style="background-color:white">
        <div class="title_account">
          <div class="p_account"><i class="fas fa-fan"></i> Thêm sản phẩm</div>
        </div>

        <div class="thutle_account">
          <form name="information" action="#" method="#">
            <table width="700px">
              <tr>
                <th width="180px">Tên sản phẩm</th>
                <td><input class="input1" type="text" v-model="product.name"></td>
              </tr>
              <tr>
                <th>Loại sản phẩm</th>
                <!-- <td><input class="input1" type="text" name="image" value="#"></td> -->
                <td>
                <template>
                  <select class="browser-default custom-select mb-3" @change="onCategoryChange($event)">
                    <option v-for="category in categories" :key="category.id" :value="category.id">{{ category.name }}</option>
                  </select>
                </template>
                </td>
              </tr>
              <tr>
                <th>Giá</th>
                <td><input class="input1" type="number" v-model="product.price"></td>
              </tr>
              <tr>
                <th>Hình ảnh</th>
                <td><input class="input1" type="file"></td>
              </tr>
              <tr>
                <th>Số lượng</th>
                <td><input class="input1" type="number" v-model="product.quantity"></td>
              </tr>
              <tr>
                <th>Mô tả</th>
                <td><input class="input1" type="text" v-model="product.description"></td>
              </tr>
              <tr>
                <td></td>
                <td><button type="button" class="button" v-on:click="addProduct">Thêm sản phẩm</button></td>
              </tr>
            </table>
            <div class="form-group" v-if="message != ''">
              <div class="alert alert-danger" role="alert">
                {{ message }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SideNav from '@/components/Admin/SideNav.vue'
import ProductsService from '@/services/products.js'

export default {
  components: {
    SideNav
  },
  data () {
    return {
      categories: null,
      product: {
        name: '',
        price: 0,
        category_id: 1,
        description: '',
        quantity: 0,
        discount: 0,
        image_file: 'image_flower/ngaysinhnhat/crystalpearl.jpeg'
      },
      message: ''
    }
  },
  methods: {
    async getCategories () {
      this.categories = await ProductsService.getCategories()
    },
    async addProduct () {
      const response = await ProductsService.addProduct(this.product)
      if (response.success) {
        this.$store.dispatch('modals/showSuccessModal')
      } else {
        this.$store.dispatch('modals/showFailedModal')
        this.message = response.msg
      }
    },
    onCategoryChange (event) {
      this.product.category_id = parseInt(event.target.value)
    }
  },
  mounted () { this.getCategories() }
}
</script>

<style scoped>
  .thutle{
    padding-left: 270px;
    padding-right: 20px;
    padding-top: 50px;
  }

  .title_account{
    background-color: #87E0E0;
  }

  .p_account{
    font-weight: 650;
    font-size: 17px;
    padding: 10px 10px 10px 20px;
  }

  .thutle_account{
    padding: 30px 30px 20px 30px;
  }

  .input1 {
    width: 520px;
    margin-bottom: 20px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  th{
    padding-bottom: 20px !important;
  }

  .radio_n{
    padding-left: 10px;
    padding-right: 10px;
  }
  .button{
    background: #FF3945;
    color: white;
    width: 250px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #CCC;
  }
  .button:hover{
    border: 1px 1px 1px;
    background: #FF6363;
  }
</style>
