<template>
  <div>
    <SideNav />
    <div class="thutle">
      <div class="row">
        <div class="col-md-6">
          <p>Số lượng khách hàng: {{ customers.length }}</p>
        </div>
        <div class="col-md-6" style="text-align:right;">
        </div>
      </div>
      <div style="background-color:white">
        <table class="table">
          <thead>
            <tr>
              <th class="name_column">Mã KH</th>
              <th class="name_column">Tên khách hàng</th>
              <th class="name_column">Email</th>
              <th class="name_column">Số điện thoại</th>
              <th class="name_column">Địa chỉ</th>
              <th class="name_column">Ngày tạo</th>
              <th class="name_column">Chức năng</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="customer in customers" :key="customer.id">
              <td class="name_title">{{ customer.id }}</td>
              <td class="name_title">{{ customer.name }}</td>
              <td class="name_title">{{ customer.email }}</td>
              <td class="name_title">{{ customer.phone_number }}</td>
              <td class="name_title">{{ customer.address }}</td>
              <td class="name_title">{{ customer.registered_at }}</td>
              <td class="name_title"><a>Xóa tài khoản</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import SideNav from '@/components/Admin/SideNav.vue'
import UserService from '@/services/user.js'

export default {
  components: {
    SideNav
  },
  data () {
    return {
      customers: null
    }
  },
  methods: {
    async getCustomers () {
      this.customers = await UserService.getCustomers()
    }
  },
  mounted () { this.getCustomers() }

}
</script>

<style scoped>
.thutle{
  padding-left: 270px;
  padding-right: 20px;
  padding-top: 50px;
}
.name_column{
  text-align: center;
  font-weight: bold;
}
.name_title{
  text-align: center;
}
</style>
