<template>
  <div>
    <SideNav />
    <mdb-container style="padding-left: 150px; padding-top: 50px;">
      <section>
        <mdb-row>
          <mdb-col xl="6" md="6" class="mb-4">
            <mdb-card cascade class="cascading-admin-card">
              <div class="admin-up">
                <mdb-icon
                  icon="money-bill-alt"
                  far
                  class="primary-color"
                ></mdb-icon>
                <div class="data">
                  <p>Tổng tiền bán hàng</p>
                  <h4 class="font-weight-bold dark-grey-text">{{ info.total_sale | price }}</h4>
                </div>
              </div>

              <mdb-card-body cascade>
                <div class="progress mb-3">
                  <div
                    class="progress-bar bg-primary"
                    role="progressbar"
                    style="width: 25%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <mdb-card-text></mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </mdb-col>

          <!-- Tổng nhân viên -->
          <mdb-col xl="6" md="6" class="mb-4">
            <mdb-card cascade class="cascading-admin-card">
              <div class="admin-up">
                <mdb-icon icon="chart-line" class="warning-color"></mdb-icon>
                <div class="data">
                  <p>Nhân viên</p>
                  <h4 class="font-weight-bold dark-grey-text">{{ info.total_employee }}</h4>
                </div>
              </div>

              <mdb-card-body cascade>
                <div class="progress mb-3">
                  <div
                    class="progress-bar red accent-2"
                    role="progressbar"
                    style="width: 25%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="card-text"></p>
              </mdb-card-body>
            </mdb-card>
          </mdb-col>
        </mdb-row>

        <mdb-row>
          <!-- Tổng khách hàng -->
          <mdb-col xl="6" md="6" class="mb-4">
            <!--Card-->
            <mdb-card cascade class="cascading-admin-card">
              <!--Card Data-->
              <div class="admin-up">
                <mdb-icon
                  icon="chart-pie"
                  class="light-blue lighten-1"
                ></mdb-icon>
                <div class="data">
                  <p>Tổng khách hàng</p>
                  <h4 class="font-weight-bold dark-grey-text">{{ info.total_client }}</h4>
                </div>
              </div>
              <!--/.Card Data-->

              <!--Card content-->
              <mdb-card-body cascade>
                <div class="progress mb-3">
                  <div
                    class="progress-bar red accent-2"
                    role="progressbar"
                    style="width: 75%"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <!--Text-->
                <p class="card-text"></p>
              </mdb-card-body>
              <!--/.Card content-->
            </mdb-card>
            <!--/.Card-->
          </mdb-col>

          <!-- Tổng đơn hàng -->
          <mdb-col xl="6" md="6" class="mb-4">
            <!--Card-->
            <mdb-card cascade class="cascading-admin-card">
              <!--Card Data-->
              <div class="admin-up">
                <mdb-icon icon="chart-bar" class="red accent-2"></mdb-icon>
                <div class="data">
                  <p>Tổng đơn hàng</p>
                  <h4 class="font-weight-bold dark-grey-text">{{ info.total_order }}</h4>
                </div>
              </div>
              <!--/.Card Data-->

              <!--Card content-->
              <mdb-card-body cascade>
                <div class="progress mb-3">
                  <div
                    class="progress-bar bg-primary"
                    role="progressbar"
                    style="width: 25%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <!--Text-->
                <p class="card-text"></p>
              </mdb-card-body>
              <!--/.Card content-->
            </mdb-card>
            <!--/.Card-->
          </mdb-col>
        </mdb-row>
      </section>
    </mdb-container>
  </div>
</template>

<script>
import SideNav from '@/components/Admin/SideNav.vue'

import AdminOverviewService from '@/services/admin/overview.js'

export default {
  components: {
    SideNav
  },
  data () {
    return {
      info: {
        total_sale: 0,
        total_order: 0,
        total_client: 0,
        total_employee: 0
      }
    }
  },
  filters: {
    price (value) {
      var formatter = new Intl.NumberFormat('vi-VN', {
        style: 'currency',
        currency: 'VND',
        minimumFractionDigits: 0
      })
      return formatter.format(value)
    }
  },
  methods: {
    async getOverviewInfo () {
      this.info = await AdminOverviewService.getOverview()
    }
  },
  mounted () { this.getOverviewInfo() }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.cascading-admin-card {
  margin-top: 20px; }
  .cascading-admin-card .admin-up {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -20px; }
    .cascading-admin-card .admin-up .fas, .cascading-admin-card .admin-up .far, .cascading-admin-card .admin-up .fab {
      padding: 1.7rem;
      font-size: 2rem;
      color: #fff;
      text-align: left;
      -webkit-border-radius: 3px;
      border-radius: 3px; }
    .cascading-admin-card .admin-up .data {
      float: right;
      margin-top: 2rem;
      text-align: right; }
      .cascading-admin-card .admin-up .data p {
        color: #999999;
        font-size: 12px; }
</style>
