<template>
  <div>
    <SideNav />
    <mdb-container fluid style="padding-left:300px; padding-right:50px">
      <!-- Section: Edit Account -->
      <section class="section">
        <!-- First row -->
        <div class="row">
          <!-- First column -->
          <div class="col-lg-4 mb-4">
            <!--Card-->
            <div class="card card-cascade narrower">
              <!--Card image-->
              <div class="view view-cascade gradient-card-header mdb-color red accent-1">
                <h5 class="mb-0 font-weight-bold">Ảnh đại diện</h5>
              </div>
              <!--/Card image-->

              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <img
                  src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
                  alt="User Photo"
                  class="z-depth-1 mb-3 mx-auto"
                />

                <p class="text-muted">
                  <small></small>
                </p>
                <div class="row flex-center">
                  <mdb-btn color="info" rounded size="sm"
                    >Cập nhật</mdb-btn
                  ><br />
                  <mdb-btn color="danger" rounded size="sm">Xóa</mdb-btn>
                </div>
              </div>
              <!-- /.Card content -->
            </div>
            <!--/.Card-->
          </div>
          <!-- /.First column -->
          <!-- Second column -->
          <div class="col-lg-8 mb-4">
            <!--Card-->
            <div class="card card-cascade narrower">
              <!--Card image-->
              <div class="view view-cascade gradient-card-header mdb-color indigo accent-1">
                <h5 class="mb-0 font-weight-bold">Thông tin tài khoản</h5>
              </div>
              <!--/Card image-->

              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <!-- Edit Form -->
                <form>
                  <!--First row-->
                  <div class="row">
                    <!--First column-->
                    <div class="col-md-6">
                      <mdb-input label="Tên tài khoản" />
                    </div>
                    <!--Second column-->
                    <div class="col-md-6">
                    </div>
                  </div>
                  <!--/.First row-->
                  <!--First row-->
                  <div class="row">
                    <!--First column-->
                    <div class="col-md-6">
                      <mdb-input label="Họ và tên" />
                    </div>
                    <!--Second column-->
                    <div class="col-md-6">
                      <mdb-input label="Email" />
                    </div>
                  </div>
                  <!--/.First row-->
                  <!--Second row-->
                  <div class="row">
                    <!--First column-->
                    <div class="col-md-6">
                      <mdb-input label="Số điện thoại" />
                    </div>
                    <!--Second column-->
                    <div class="col-md-6">
                      <mdb-input label="Địa chỉ" />
                    </div>
                  </div>
                  <!--/.Second row-->
                  <!--Third row-->
                  <div class="row" style="padding-bottom:20px;">
                    <div class="form-check">
                      <input type="radio" class="form-check-input" id="materialGroupExample1" name="gender">
                      <label class="form-check-label" for="materialGroupExample1">Nam</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" id="materialGroupExample2" name="gender">
                      <label class="form-check-label" for="materialGroupExample2">Nữ</label>
                    </div>
                  </div>
                  <div class="row">
                    <!--First column-->
                    <div class="col-md-12" style="text-align:left;">
                      <a style="color:blue;">Thay đổi mật khẩu</a>
                    </div>
                  </div>
                  <!--/.Third row-->
                  <!-- Fourth row -->
                  <div class="row">
                    <div class="col-md-12 text-center my-4">
                      <input
                        type="submit"
                        value="Cập nhật"
                        class="btn btn-info btn-rounded"
                      />
                    </div>
                  </div>
                  <!-- /.Fourth row -->
                </form>
                <!-- Edit Form -->
              </div>
              <!-- /.Card content -->
            </div>
            <!--/.Card-->
          </div>
          <!-- /.Second column -->
        </div>
        <!-- /.First row -->
      </section>
      <!-- /.Section: Edit Account -->
    </mdb-container>
  </div>
</template>

<script>
import SideNav from '@/components/Admin/SideNav.vue'
export default {
  components: {
    SideNav
  },
  data () {
    return {}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.card.card-cascade .view.gradient-card-header {
  padding: 1.1rem 1rem;
}

.card.card-cascade .view {
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}
</style>
