<template>
  <div>
    <SideNav />
    <div class="thutle">
      <div class="row">
        <div class="col-md-6">
          <p>Số lượng sản phẩm: {{ products.length }}</p>
        </div>
        <div class="col-md-6" style="text-align:right;">
          <router-link to="/admin/add-product"><i class="fas fa-plus"></i> Thêm sản phẩm</router-link>
        </div>
      </div>
      <div style="background-color:white">
        <table class="table">
          <thead>
            <tr>
              <th class="name_column">Tên sản phẩm</th>
              <th class="name_column">Giá</th>
              <th class="name_column">Hình ảnh</th>
              <th class="name_column">Loại sản phẩm</th>
              <th class="name_column">Mô tả</th>
              <th class="name_column">Chức năng</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="product in products" :key="product.id">
              <td><router-link :to="'/product/'+product.id" class="dark-grey-text">{{ product.name }}</router-link></td>
              <td>{{ product.price | price }}</td>
              <td><img :src="require('../assets/'+product.image_file)" width="100px" height="100px"/></td>
              <td>{{ product.category_name }}</td>
              <td>{{ product.description }}</td>
              <td><a v-on:click="deleteProduct(product.id)">Xóa</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import SideNav from '@/components/Admin/SideNav.vue'
import ProductsService from '@/services/products.js'

export default {
  components: {
    SideNav
  },
  data () {
    return {
      products: null
    }
  },
  filters: {
    price (value) {
      var formatter = new Intl.NumberFormat('vi-VN', {
        style: 'currency',
        currency: 'VND',
        minimumFractionDigits: 0
      })
      return formatter.format(value)
    }
  },
  methods: {
    async getProducts () {
      this.products = await ProductsService.getProductList('newest', 50, 0)
    },
    async deleteProduct (productId) {
      const response = await ProductsService.deleteProduct(productId)
      if (response.success) {
        this.$store.dispatch('modals/showSuccessModal')
        this.getProducts()
      } else {
        this.$store.dispatch('modals/showFailedModal')
      }
    }
  },
  mounted () { this.getProducts() }
}
</script>

<style scoped>
.thutle{
  padding-left: 270px;
  padding-right: 20px;
  padding-top: 50px;
}
.name_column{
  text-align: center;
  font-weight: bold;
}
</style>
