<template>
  <div>
    <SideNav />
    <div class="thutle">
      <div class="row">
        <div class="col-md-6">
          <p>Số lượng đơn đặt hàng: {{ orders.length }}</p>
        </div>
        <div class="col-md-6" style="text-align:right;">
        </div>
      </div>
      <div style="background-color:white">
        <table class="table">
          <thead>
            <tr>
              <th class="name_column">Mã đơn hàng</th>
              <th class="name_column">Tên khách hàng</th>
              <th class="name_column">Số điện thoại</th>
              <th class="name_column">Địa chỉ</th>
              <th class="name_column">Ngày đặt hàng</th>
              <th class="name_column">Tổng tiền</th>
              <th class="name_column">Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="order in orders" :key="order.id">
              <td class="name_title">{{ order.id }}</td>
              <td class="name_title">{{ order.name }}</td>
              <td class="name_title">{{ order.phone_number }}</td>
              <td class="name_title">{{ order.address }}</td>
              <td class="name_title">{{ order.update_at }}</td>
              <td class="name_title">{{ order.grand_total }}</td>
              <td class="name_title">Đang giao</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import SideNav from '@/components/Admin/SideNav.vue'
import CartService from '@/services/cart.js'

export default {
  components: {
    SideNav
  },
  data () {
    return {
      orders: null
    }
  },
  methods: {
    async getOrders () {
      this.orders = await CartService.getUsersOrders(50, 0)
    }
  },
  mounted () { this.getOrders() }
}
</script>

<style scoped>
.thutle{
  padding-left: 270px;
  padding-right: 20px;
  padding-top: 50px;
}
.name_column{
  text-align: center;
  font-weight: bold;
}
.name_title{
  text-align: center;
}
</style>
