<template>
  <div>
    <div class="white-skin mdb-admin-sidenav">
      <mdb-side-nav
        sideNavClass="sn-bg-4"
        mask="strong"
        :OpenedFromOutside.sync="toggle"
      >
        <li>
          <form class="search-form" role="search" style="padding-top:25px;">
            <div class="form-group md-form mt-0 pt-1 ripple-parent">
              <input type="text" class="form-control" placeholder="Search" />
            </div>
          </form>
        </li>
        <li>
          <mdb-side-nav-nav>
            <mdb-side-nav-item
              header
              @click.native="width < 480 && toggleSideNav(false)"
              router to="/admin"
              >Tổng quan</mdb-side-nav-item
            >
            <mdb-side-nav-cat name="Quản lý sản phẩm">
              <mdb-side-nav-item
                router to="/admin/products"
                @click.native="width < 480 && toggleSideNav(false)"
                >Danh sách sản phẩm</mdb-side-nav-item
              >
              <mdb-side-nav-item
                router to="/admin/add-product"
                @click.native="width < 480 && toggleSideNav(false)"
                >Thêm sản phẩm</mdb-side-nav-item
              >
            </mdb-side-nav-cat>
            <mdb-side-nav-item
              header
              @click.native="width < 480 && toggleSideNav(false)"
              router to="/admin/orders"
              >Quản lý đơn hàng</mdb-side-nav-item
            >
            <mdb-side-nav-item
              header
              @click.native="width < 480 && toggleSideNav(false)"
              router to="/admin/customers"
              >Quản lý khách hàng</mdb-side-nav-item
            >
            <mdb-side-nav-item
              header
              @click.native="width < 480 && toggleSideNav(false)"
              router to="/admin/employees"
              >Quản lý nhân viên</mdb-side-nav-item
            >
          </mdb-side-nav-nav>
        </li>
      </mdb-side-nav>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'SideNav',
  props: {
    waves: {
      type: Boolean,
      default: true
    },
    open: {
      type: Boolean
    }
  },
  data () {
    return {
      active: 0,
      elHeight: 0,
      windowHeight: 0,
      toggle: true,
      width: 0
    }
  },
  computed: mapGetters(['sidenav']),
  methods: {
    ...mapActions(['toggleSideNav']),
    afterEnter (el) {
      el.style.maxHeight = '1000px'
    },
    beforeLeave (el) {
      el.style.maxHeight = 0
    },
    setWidth () {
      this.width = window.innerWidth
    }
  },
  mounted () {
    this.setWidth()
    window.addEventListener('resize', this.setWidth)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.setWidth)
  },
  watch: {
    toggle (value) {
      this.toggleSideNav(value)
    },
    sidenav (value) {
      this.toggle = value
    },
    width (value) {
      if (value < 480) {
        this.toggle = false
      } else this.toggle = true
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style>
.side-nav {
  opacity: 1 !important;
  transition: transform 0.3s linear !important;
}
#sidenav-overlay {
  display: none;
}
</style>
