<template>
  <mdb-container>
    <mdb-modal :show="cascading" @close="hideLoginModal()" cascade tabs>
      <mdb-tab tabs justify class="pt-4 amy-crisp-gradient">
        <mdb-tab-item :active="tabs==1" @click.native.prevent="tabs = 1"><mdb-icon icon="user" class="mr-1"/>Đăng nhập</mdb-tab-item>
        <mdb-tab-item :active="tabs==2" @click.native.prevent="tabs = 2"><mdb-icon icon="user-plus" class="mr-1"/>Đăng ký</mdb-tab-item>
      </mdb-tab>
      <mdb-modal-body class="mx-3" v-if="tabs==1" >
        <form @submit.prevent="login()">
          <mdb-input label="Email" icon="envelope" type="email" class="mb-5" v-model="credentials.email" />
          <mdb-input label="Mật khẩu" icon="lock" type="password" v-model="credentials.password" />
          <div class="mt-2 text-center">
            <mdb-btn gradient="blue" rounded class="btn-block z-depth-1a">Đăng nhập</mdb-btn>
          </div>
          <hr>
          <div class="form-group" v-if="message">
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          </div>
        </form>
      </mdb-modal-body>
      <mdb-modal-footer center v-if="tabs==1">
        <div class="options text-center text-md-right mt-1">
          <p>Chưa có tài khoản? <a href="#" @click="tabs=2">Đăng ký</a></p>
          <p>Quên <a href="#">Mật khẩu?</a></p>
        </div>
        <mdb-btn outline="primary" darkWaves rounded class="ml-auto" @click.native="hideLoginModal()">Close</mdb-btn>
      </mdb-modal-footer>
      <mdb-modal-body class="mx-3" v-if="tabs==2">
        <form @submit.prevent="register()">
          <mdb-input label="Họ và tên" icon="user" type="text" class="mb-5" v-model="registrationInfo.name" />
          <mdb-input label="Email" icon="envelope" type="email" class="mb-5" v-model="registrationInfo.email" />
          <mdb-input label="Mật khẩu" icon="lock" type="password" class="mb-5" v-model="registrationInfo.password" />
          <mdb-input label="Nhập lại mật khẩu" icon="lock" type="password" class="mb-5"/>
          <mdb-input label="Số điện thoại" icon="phone" type="tel" class="mb-5" v-model="registrationInfo.phone_number" />
          <mdb-input label="Địa chỉ" icon="home" type="text" v-model="registrationInfo.address" />
          <div class="mt-2 text-center">
            <mdb-btn gradient="blue" rounded class="btn-block z-depth-1a">Đăng ký</mdb-btn>
          </div>
          <hr>
          <div class="form-group" v-if="message">
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          </div>
        </form>
      </mdb-modal-body>
      <mdb-modal-footer center v-if="tabs==2">
        <div class="options text-center text-md-right mt-1" style="padding-top: 20px">
          <p>Đã có tài khoản? <a href="#" @click="tabs=1">Đăng nhập</a></p>
        </div>
        <mdb-btn outline="primary" darkWaves rounded class="ml-auto" @click.native="hideLoginModal()">Close</mdb-btn>
      </mdb-modal-footer>
    </mdb-modal>
  </mdb-container>
</template>

<script>
import Credentials from '../../models/credentials'
import RegistrationInfo from '../../models/registration-info'

export default {
  data () {
    return {
      tabs: 1,
      credentials: new Credentials('', ''),
      registrationInfo: new RegistrationInfo('', '', '', '', ''),
      message: null
    }
  },
  computed: {
    cascading () {
      return this.$store.state.modals.loginModalShow
    }
  },
  methods: {
    showLoginModal () {
      this.$store.dispatch('modals/showLoginModal')
    },
    hideLoginModal () {
      this.$store.dispatch('modals/hideLoginModal')
    },
    showSuccessModal () {
      this.$store.dispatch('modals/showSuccessModal')
    },
    hideSuccessModal () {
      this.$store.dispatch('modals/hideSuccessModal')
    },
    showFailedModal () {
      this.$store.dispatch('modals/showFailedModal')
    },
    hideFailedModal () {
      this.$store.dispatch('modals/hideFailedModal')
    },
    login () {
      if (this.credentials.email && this.credentials.password) {
        this.$store.dispatch('user/login', this.credentials).then(
          async () => {
            await this.$store.dispatch('user/getInfo')
            this.hideLoginModal()
          },
          (error) => {
            this.message = `${error}`
          }
        )
      }
    },
    register () {
      if (this.registrationInfo.name && this.registrationInfo.email && this.registrationInfo.password && this.registrationInfo.phone_number && this.registrationInfo.address) {
        this.$store.dispatch('user/register', this.registrationInfo).then(
          () => {
            this.hideLoginModal()
            this.showSuccessModal()
          },
          (error) => {
            this.message = `${error}`
          }
        )
      }
    }
  }
}
</script>
