<template>
  <mdb-modal
    :show="modalFailed"
    @close="hideFailedModal()"
    danger
  >
    <mdb-modal-header>
      <mdb-modal-title>Failed</mdb-modal-title>
    </mdb-modal-header>
    <mdb-modal-body class="text-center">
      <mdb-icon
        icon="times"
        size="4x"
        class="mb-3 animated rotateIn"
      />
    </mdb-modal-body>
    <mdb-modal-footer center>
      <mdb-btn
        outline="danger"
        @click.native="hideFailedModal()"
      >
        Đóng
      </mdb-btn>
    </mdb-modal-footer>
  </mdb-modal>
</template>

<script>
export default {
  computed: {
    modalFailed () {
      return this.$store.state.modals.failedModalShow
    }
  },
  methods: {
    showFailedModal () {
      this.$store.dispatch('modals/showFailedModal')
    },
    hideFailedModal () {
      this.$store.dispatch('modals/hideFailedModal')
    }
  }
}
</script>
