<template>
  <mdb-modal
    :show="modalSuccess"
    @close="hideSuccessModal()"
    success
  >
    <mdb-modal-header>
      <mdb-modal-title>Success</mdb-modal-title>
    </mdb-modal-header>
    <mdb-modal-body class="text-center">
      <mdb-icon
        icon="check"
        size="4x"
        class="mb-3 animated rotateIn"
      />
    </mdb-modal-body>
    <mdb-modal-footer center>
      <mdb-btn
        outline="success"
        @click.native="hideSuccessModal()"
      >
        Đóng
      </mdb-btn>
    </mdb-modal-footer>
  </mdb-modal>
</template>

<script>
export default {
  computed: {
    modalSuccess () {
      return this.$store.state.modals.successModalShow
    }
  },
  methods: {
    showSuccessModal () {
      this.$store.dispatch('modals/showSuccessModal')
    },
    hideSuccessModal () {
      this.$store.dispatch('modals/hideSuccessModal')
    }
  }
}
</script>
